.idea
.DS_Store
config/local.neon
/common/config.local.neon
/log/*
!/log/
/temp/*
!/temp/
/temp/libs/*
!/temp/libs/
/temp/nette/*
!/temp/nette/
/tests/_log/*
/tests/_temp/*
/tests/testFiles/*
/vendor
/bin/npm-debug.log
/node_modules
/npm-packages-offline-cache
!.gitignore
!.gitkeep
!.htaccess
Web/config/local.neon